<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="200px" src="http://www.yummyfoodrecipes.in/resources/picture/org/Veg-Burger-Recipe.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Veg Burger</h5>
                          <p class="card-text">Rs.100</p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="200px" src="https://st3.idealista.it/cms/archivie/2022-10/media/image/aurelien-lemasson-theobald-x00czbt4dfk-unsplash.jpg?VersionId=rsplPfGIYIR.IpPJNnTUNNPRTooJvUq.&fv=lKbIgfCL" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Italian Pizza</h5>
                          <p class="card-text">Rs.250</p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="200px" src="https://hips.hearstapps.com/hmg-prod/images/delish-211105-popeyes-chicken-sandwich-001-ab-web-1637207425.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Chicken Burger</h5>
                          <p class="card-text">Rs.150</p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="200px" src="https://www.foodnetwork.com/content/dam/images/food/fullset/2015/9/15/1/FNK_Chicken-Fettucine-Alfredo_s4x3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alfredo Pasta</h5>
                          <p class="card-text">Rs.260</p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="200px" src="https://i0.wp.com/theindianclaypot.com/wp-content/uploads/2018/09/SCHEZWAN-CHICKEN-NOODLES.jpg?fit=1620%2C1080" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Chicken Noodles</h5>
                          <p class="card-text">Rs.120</p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="200px" src="https://www.chefkunalkapur.com/wp-content/uploads/2021/10/Grilled-Chicken-Sandwich-1300x867.jpg?v=1635000535" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Chicken Sandwich</h5>
                          <p class="card-text">Rs.120</p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>

                </div>
                
            </div>
        </div>
    </div>
</div>
